*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f1e8e8;
}

/*main*/
.titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5%;
    text-align: center;
    font-size: 2rem;
    color: "#la2537";
} 
.botones_consulta{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.buton button{
    border: none;
    color: white;
    background: #021d75;
    width: 170px;
    border-radius: 10px;
    padding: 1rem 0 0.5rem 0;
    font-weight:  bold;
    font-family: montserrat, sans-serif;
    margin: auto;
    display: block;
    transition: background 0.5s;

}

.buton button:hover{
    background:   rgb(240, 180, 16);
    cursor: pointer;
}

    
    .logo5{
        position: absolute;
        left: 85%;
        bottom:0;
        z-index:  1;
        width: 15%;
    }


    /*footer*/
footer{
    padding-left: 2vh;
    justify-content: space-between;
    display: flex;
    color: rgb(175, 175, 175);
    font-size: 0.8rem;
    width: 100%;
    background: #f1e8e8; 
}